/* common.css */
 a {text-decoration: none; font-weight: bold;} 
 body {margin: 0;}
 html,boby, .pmain {width: auto; height: 100%; margin: 2px}
 h4 {margin: 10}
.pmain{position: relative;}
 
.ppheader{height: /*3%;min-height:*/ 28px;}
.ppfooter{height: /*3%; min-height:*/ 28px;position: relative;clear: both;text-align: justify
}
.pppanel{width: 100%; /*height:  93%;*/ position: relative;}
.ppview{width: 70%; overflow: auto; box-sizing: border-box;min-height: 100%; float: right;padding: 2px;}
.ppcontrol{width: 30%; box-sizing: border-box; min-height:  100%; float: left;  position: relative;padding: 2px;overflow: auto;}
/*перепроверить это место\/*/
.pjnew{width: 100%; overflow: auto; box-sizing: border-box;min-height: 100%; float: right;padding: 2px;}
/*.pjnew{width: auto;position: relative;overflow: auto;float: outside;}*/
/*position: absolute; bottom: 0px; top: 0px; left: 0px; right: 0px;*/

.pform{min-height: 100px; width: 100%;border-spacing:0; float: right;}
.set_form {width: 100%; position: relative}
.file_link {text-align: center; font-size: 11px;}
.img_hist{text-align: center}
.err_link {text-align: center; color: red}

.result_table{width: 100%;border-spacing:0; }
.param_table{width: 100%; border-spacing: 2; font-size: 10px; }
.job_table{width: 100%; border-spacing: 2; font-size: 12px; }
.but {width: 100px}
.job_info {text-align: left; font-size: 12px;}
.actions_jc {width: 100%; text-align: center;text-decoration:underline; font-size: 12px}


/*.center {top: 50%;left: 50%; width: 450px;height: 450px;position: relative;margin-top: -225px;margin-left: -225px;background: #EDEDED url(../images/temp/template-example-headline-bg.gif);border: 1px solid #CCC;color: #EAEAEA;font-size: 50px;text-align: center;}*/
.center {position: relative;background: #EDEDED url(../images/temp/template-example-headline-bg.gif);border: 1px solid #CCC;color: #EAEAEA;font-size: 50px;text-align: center;}

.pheader{height: 30;}
.pfooter{height: 30;}
.pcontrol{width: 30%;}
.pview{width: 70%;}
 
.nobr {display: inline-block;}
.blind {display: none;}

.jcontrol{width: 20%;}
.jview{width: 80%;}
.ui-tooltip {max-width: 300px;}
.logo {font-size: 22px; font-weight: bolder; margin-left: 30px;}
.logo_labs_main {font-size: 22px; font-weight: bold; font-style: italic; margin-left: 5px;color: #619226;}
.logo_labs {font-size: 22px; font-weight: bold; font-style: italic; margin-left: 5px;color: #2e6e9e;}
.radiosel, .info, .parameters {font-size: 0.7em};
.tabrow {white-space: nowrap;}
.st_ok {font-weight: bolder; color: green;}
.st_fail {font-weight: bolder; color: red;}

/*from old_version*/
.showcase {padding: 25px;}
.table_tasks {font-size: 9pt;}

.page_title
{
font-size:14pt;
font-weight:800;
color: #888;
}
.ui-button-text{font-size: 9pt;}
.page_table_header {font-weight:bold;font-size:14pt;}
.interlace {background-color: #F3E2A9;}
.col_complexity {min-width: 50px;}

.page_note {font-size: 12pt;}
.tr-head {font-size: 1.4em;width: 100%;}


/*.adminus {color: red}
.newbieus {color: green}
.expertus {color: orange}*/

/*//for status
.disabled_st {color: black}
.pending_st {color: #00498f}
.running_st {color: orange}
.compl_st {color: green}
.failed_st {color: red}*/

#jobs_new_sel,#params,#params_form,#accordion,#my-datepicker,#ui-datepicker-div {font-size: 9pt;}


